.site-wrapper, .main-header.no-cover {
  background-color: black;
}

.no-cover .page-title, .no-cover .page-description {
  color: white;
}

body {
  color: #EEE;
}

a, h1, h2, h3, h4, h5, h6 {
  color: #DDD;
}

a:hover {
  color: white;
}

.post-meta {
  color: #CCC;
  font-size: 1.7rem;
}

.post {
  border-bottom-color: #BB8229;
}

.post::after {
  border-color: #BB8229;
  box-shadow: #BB8229 0 0 0 5px;
  background: #BB8229;
}

.read-more {
  color: #BB8229;
}

.post-date {
  border-left-color: #BB8229;
}

code, tt {
  background: #111;
  border-color: #222;
}

pre, pre[class*="language-"] {
  background: #111;
  border: 1px solid #BB8229;
  border-radius: 0.2em;
}

.prism-show-language-label {
  background-color: #BB8229 !important;
  font-family: sans-serif !important;
  color: white !important;
}

blockquote {
  border-left-color: #BB8229;
}

.post-footer h4 a {
  color: #DDD;
}

